*{
    padding:0px;
    margin:0px;
}

#imager{
    width:60px;
    height:53px;
    border-radius:50%;
}


@media (min-width:280px) and (max-width:414px){
    #imager{

        border-radius:50%;
        height:55px;
        width:60px;

    }

   









}